#forecast {
  display: inline-flex;
  margin-left: 21%;
}
.forecast-day {
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  color: rgb(86, 85, 85);
}
.weather-icon {
  text-align: center;
  padding: 10px;
}

.Forecast-temperature {
  text-align: center;
  padding: 10px;
}
.max-temp {
  font-weight: bold;
  margin: 5px;
  color: rgb(86, 85, 85);
}
.min-temp {
  color: rgb(86, 85, 85);
  opacity: 0.5;
  margin: 5px;
}

.cards-positioning {
  margin-right: 75px;
  margin-bottom: 20px;
}
