.Weather body {
  margin: 80px;
}
.Weather h5 {
  font-size: 22px;
}
.Weather h6 {
  font-size: 22px;
}
.Weather #celsius {
  text-decoration: none;
}
.Weather #fahrenheit {
  text-decoration: none;
}
.Weather .weather_box {
  position: relative;
  top: 20px;
  display: block;
  box-sizing: content-box;
  width: 1040px;
  border-color: #67e1f7;
  border: solid #67e1f7 4px;
  padding: 40px;
  margin: 80px, auto;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 0, 0.2),
    rgba(103, 225, 247, 0.5)
  );
}
.Weather .weather_position {
  position: relative;
  left: 140px;
  top: 35px;
}
.Weather .how_weather {
  font-size: 20px;
}

.Weather .form-control {
  max-width: 600px;
  display: inline;
}
.Weather .btn.btn-info {
  position: relative;
  bottom: 0px;
  left: 50px;
  display: inline;
  background-color: #67e1f7;
  margin: 0 40px;
  border-radius: 4px;
  border-color: white;
}
.Weather .location {
  position: relative;
  top: 2px;
  left: 50px;
  display: inline;
  color: #67e1f7;
  background-color: white;
  border-color: #67e1f7;
  border-radius: 4px;
  padding: 5px 10px;
}
.Weather .current_location {
  font-size: 10px;
  font-weight: bold;
}
.Weather .currently {
  font-size: 26px;
  font-weight: bold;
}
.Weather .temperature {
  font-size: 30px;
  font-weight: bolder;
}
.Weather .temperature_celsius {
  font-size: 14px;
  color: black;
  text-decoration: none;
  position: relative;
  bottom: 10px;
}
.Weather .temperature_fahrenheit {
  font-size: 14px;
  color: grey;
  text-decoration: none;
  position: relative;
  bottom: 10px;
}
.Weather .emojy {
  position: relative;
  top: 20px;
  right: 80px;
  font-size: 60px;
  text-align: center;
}
.Weather .precipitation {
  font-size: 10px;
  position: relative;
  bottom: 40px;
  left: 16px;
}
.Weather .humidity {
  font-size: 10px;
  position: relative;
  bottom: 50px;
  left: 260px;
}
.Weather .wind {
  font-size: 10px;
  position: relative;
  bottom: 50px;
  left: 260px;
}
.Weather .daytime {
  font-size: 10px;
  position: relative;
  bottom: 50px;
}
.Weather .current_weather {
  font-size: 10px;
  position: relative;
  bottom: 70px;
  text-transform: capitalize;
}
.Weather .row {
  max-width: 1200px;
}
.Weather .card-text {
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  font-weight: lighter;
  text-transform: capitalize;
}
.Weather .card-body {
  text-align: center;
  background-color: rgba(103, 225, 247, 0.3);
  border-radius: 2px;
}
.Weather .row {
  gap: 10px 2%;
}
.Weather .Saturday {
  position: relative;
  top: 40px;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: card-height;
  word-wrap: break-word;
  background-color: card-bg;
  background-clip: border-box;
  border: 0;
  box-shadow: 2px 2px rgba(163, 163, 163, 0.2);
  min-height: 300px;
}
.Weather .card-text-position {
  position: relative;
  top: 34px;
}
.Weather .hot {
  color: black;
}
.Weather .openSource {
  text-decoration: none;
  color: #67e1f7;
}
.Weather .myName {
  font-family: "Courier New", Courier, monospace;
  position: relative;
  top: 50px;
  left: 12px;
}
.Weather .active {
  color: black;
  cursor: default;
}
.Weather .active:hover {
  text-decoration: none;
  color: black;
}
.Weather .image {
  width: 50px;
}
